<footer class="py-3 mt-5">
    <div class="d-flex justify-content-between px-4 border-bottom pb-2 mx-3">
        <div class="img-text d-flex align-items-center ">
            <img src="assets/images/logo.png" alt="logo">
            <span class="ms-2">Cooking Time</span>
        </div>
        <span class="route">Route</span>
    </div>
    <div class="copyrights text-center pt-4">
        <p>© 2025 Nagy Osama™. All Rights Reserved.</p>
        <p>Logo Image by <a href="https://www.freepik.com/" target="_blank">Freepik</a></p>
    </div>
</footer>