$main-font-family: "Poppins", serif;
$secondary-font-family: "Parisienne", serif;
$main-bg-color: #F4F2EE;
$secondary-bg-color: #F9FAFB;
$main-font-color: #281506;
$nav-active-btn-bg: #F29724;
$menu-color: #6B7280;
$view-recipe-btn-bg: #21BA73