<section>
    <div class="row m-0 pt-4 gy-5">
        @for (food of displayedFood ; track food.idMeal) {
        <div class="col-md-6 col-lg-4">
            <div class="card d-flex align-items-center pb-3 ">
                <img [src]="food.strMealThumb" [alt]="food.strMeal" class="w-50">
                <span class="text-center">{{food.strMeal.split(" ").splice(0,2).join(" ")}} ...</span>
                <a class="text-decoration-none" (click)="sendID(food.idMeal)" routerLink="/Recipe">View Recipe</a>
            </div>
        </div>
        }

    </div>


</section>