@use '../../../styles/variables' as *;

img {
    border-radius: 10px;
}

h2 {
    font-family: $secondary-font-family;
    font-weight: 900;
}

.ing {
    font-family: $secondary-font-family;
    font-weight: 900;
    padding-top: 20px;
}

a {
    font-size: 0.9rem;
}