<nav>
    <button class="fa-solid fa-bars-staggered d-lg-none" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive"></button>

    <div class="offcanvas-lg offcanvas-start px-3 py-4" tabindex="-1" id="offcanvasResponsive"
        aria-labelledby="offcanvasResponsiveLabel">
        <div class="offcanvas-body overflow-hidden d-flex flex-column align-items-center pb-2">
            <img src="assets/images/logo.png" alt="logo" class="mb-4">
            <div class="nav-links d-flex flex-column gap-4">
                <a href="" class="link btn active"><i class="fa-solid fa-utensils me-2"></i>Meals</a>
                <a href="" class="link btn"><i class="fa-solid fa-utensils me-2"></i>Ingredients</a>
                <a href="" class="link btn"><i class="fa-solid fa-utensils me-2"></i>Area</a>
            </div>
        </div>
    </div>
</nav>