<section>
    <div class="row m-0 pt-4 gy-5">
        @for (food of displayAll; track food.idMeal) {
        <div class="col-md-6 col-lg-4">
            <div class="card d-flex align-items-center pb-3">
                <img [src]="food.strMealThumb" [alt]="food.strMeal" class="w-50">
                <span>{{food.strMeal}}</span>
                <span class="country"><i class="fa-solid fa-earth-americas"></i> {{food.strArea}}</span>
                <a (click)="sendID(food.idMeal)" class="text-decoration-none" routerLink="/Recipe">View Recipe</a>
            </div>
        </div>
        }
    </div>
</section>